<div class="event">
  <div class="event-info row">
    <div class="col-md-12">
      <%= content_tag 'div', '', class: 'event-background',
                      style: "background-image: url(#{asset_path('event.jpg')})" %>

      <div class="event-info-inner row">
        <div class="col-md-6">
          <div class="event-description">
            <h1><%= @event.title %></h1>
            <h3><%= @event.datetime %></h3>
            <h3>
              <small><%= link_to @event.address,
                                 "https://yandex.ru/maps/?text=#{@event.address}" %></small>
            </h3>
            <p><%= @event.description %></p>
          </div>

          <div class="buffer-top">
            <%= link_to 'Изменить', edit_event_path(@event),
                        class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>