<h1><%= t '.title' %></h1>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<%= t '.event' %>
<h3><%= @event.title %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>