<h1><%= t '.title' %></h1>
<p><%= t '.name' %>: <strong><%= @name %></strong></p>
<p><%= t '.email' %>: <strong><%= link_to @email, "mailto:#{@email}" %></strong></p>
<hr/>

<%= t '.event' %>

<h3><%= @event.title %></h3>

<%= t '.author' %>
<h4><%= l @event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @event.user.name %></h4>